<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"> Liste des produits</div>
    <div class="panel-body">
      <button class="btn btn-primary" (click)="onGetProduits()">Produits</button>
    </div>
    <div class="panel-body">
      <table *ngIf="produits" class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Designation</th>
          <th>Prix</th>
          <th>Quantite</th>
        </tr>
        <tr *ngFor="let p of produits._embedded.produits">
          <td>{{p.idProduit}}</td>
          <td>{{p.designation}}</td>
          <td>{{p.prix| number : '0.2-2'}}</td>
          <td>{{p.quantite}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
